[mysql]
bind-address = 0.0.0.0
datadir = /var/lib/mysql
innodb_buffer_pool_size = 128M
innodb_flush_method = O_DIRECT
innodb_log_file_size = 64M
innodb_log_files_in_group = 2
innodb_flush_log_at_timeout = 3
innodb_read_io_threads = 4
innodb_write_io_threads = 4
innodb_io_capacity = 200
max_connections = 200
log_bin = mysql-bin
binlog_format = ROW